.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.section {
  flex: 1;
  padding: 20px;
  border: 1px solid #ccc;
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: dimgrey;
}

.section:nth-child(odd) {
  background-color: green;
}

input, button {
  width: 200px; 
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  background-color: slateblue;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.palindromo{
  
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;

}
.cep {
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
}
.troco {
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
}
.garagem {
  display: flex;
  flex-direction: column;
  align-items: center;
}